body{
    background-color: rgb(0, 0, 0);
    display:flex;
    justify-content: center;
    align-items: center;
}
.head{
    height: 150px;
    width:100px;
    color:rgb(24, 24, 211);
    display:flex;
    justify-content: center;
    align-items: center;
}
.but{
    display:flex;
    justify-content: baseline;
    align-items: baseline;
}
button{
    background-color: rgb(82, 70, 70);
    width: 75px;
    height:50px;
    color:rgb(255, 255, 255);
    border-radius:25px;
    border: none; 
    margin-right: 15px;
    
}