body{
    background-color: rgb(153, 85, 85);
    display:flex;
    justify-content: center;
    align-items: center;
}
.head{
    height: 150px;
    width:100px;
    color:rgb(16, 16, 148);
    display:flex;
    justify-content: center;
    align-items: center;
}
.but{
    display:flex;
    justify-content: baseline;
    align-items: baseline;
}
button{
    background-color: rgb(138, 125, 125);
    width: 75px;
    height:50px;
    color:rgb(0, 0, 0);
    border-radius:25px;
    border: none; 
    margin-right: 15px;
    
}
.box{
    background-color: rgb(255, 255, 255);
    height: 500px;
    width: 500px;
    display:flex;
    justify-content: center;
    align-items: center;
}