body{
    background-color: rgb(0, 0, 0);
    display:flex;
    justify-content: center;
    align-items: center;
}
.box{
    background-color: rgb(255, 255, 255);
    height: 500px;
    width: 500px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.name{
    padding-left: 10%;
    color: rgb(160, 160, 71);

}
.img{
    height: 200px;
    width: 200px;
    border-radius: 30px;
    object-fit:fill ;
    
}
button{
    background-color: rgb(0, 0, 0);
    width: 50px;
    height:50px;
    color:blueviolet;
    border-radius: 5px;
    border: none; 
    margin-right: 20px;
}
button:hover{
    background-color: yellow;
}